### Переменные используются для хранения данных, которые могут быть различных типов:
- `int`: целые числа, например 5
- `float`: числа с плавающей точкой, например 3.14
- `str`: строки, например "Hello"
- `bool`: логические значения True или False
- `list`: списки, например [1, 2, 3]
- `tuple`: кортежи, которые неизменяемы, например (1, 2, 3)
- `dict`: словари с парами ключ-значение, например {'name': 'John', 'age': 25}
- `set`: множества без дубликатов, например {1, 2, 3}

### Именование переменных
- Должны начинаться с буквы (a-z, A-Z) или подчеркивания (_)
- Могут содержать буквы, цифры (0-9) и подчеркивания
- Регистрозависимы: `'Variable'` и `'variable'` - разные переменные
- Избегайте зарезервированных слов и встроенных имен

### Изменяемые и неизменяемые типы данных

In [1]:
mutable_list = [1, 2, 3]
mutable_list[0] = 100  # Допустимо, т.к. списки изменяемы
print(mutable_list)  # Выведет: [100, 2, 3]

[100, 2, 3]

In [2]:
immutable_tuple = (1, 2, 3)
immutable_tuple[0] = 100  # Вызовет ошибку, т.к. кортежи неизменяемы
print(immutable_tuple)  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Форматирование строк с помощью f-строк

In [3]:
name = "Анна"
age = 30
print(f"Имя: {name}, Возраст: {age}")  # Имя: Анна, Возраст: 30

Имя: Анна, Возраст: 30

### Глобальные и локальные переменные
- Глобальные переменные доступны вне функций, локальные - внутри функций.

In [4]:
# Пример функции с локальной переменной
def greet(name_1):
    message = f"Привет, {name_1}!"
    print(message)

greet('Анна')  # Выведет: Привет, Анна!

Привет, Анна!

### Константы

In [5]:
PI = 3.14159  # Принято называть константы заглавными буквами

### Преобразование типов

In [6]:
number_string = "5"
number_int = int(number_string)
print(number_int + 1)  # Выведет: 6

6

### Использование функции print

In [7]:
print("Hello", "World", sep="-", end="!\n")  # Выведет: Hello-World!

Hello-World!

### Обмен значений и множественное присвоение

In [8]:
a, b = 5, 7
a, b = b, a  # Обмен значений
print(a, b)  # Выведет: 7 5

7 5

### Распаковка коллекций

In [9]:
head,  * tail = [1, 2, 3, 4, 5]

In [10]:
print(head)  # Выведет: 1

1

In [11]:
print(tail)  # Выведет: [2, 3, 4, 5]

[2, 3, 4, 5]

### Работа с переменными в выражениях

In [12]:
x, y = 10, 20
summa = x + y
print(summa)  # Выведет: 30

30

### Изменение значения переменной

In [13]:
x += 1
print(x)  # Выведет: 11

11